<%= form_tag("users/create") do %>
  <% @user.errors.full_messages.each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <div>
    <p>名前</p>
    <input name="name" value="<%= @user.name %>">
  </div>
  <div>
    <p>メールアドレス</p>
    <input type="email" name="email" value="<%= @user.email %>">
  </div>
  <div>
    <p>パスワード</p>
    <input type="password" name="password" value="<%= @user.password %>">
  </div>
  <input type="submit" value="登録">
<% end %>
