<!DOCTYPE html>
<html>
  <head>
    <title>Stidbit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to("Stidbit", "/") %></h1>
      <ul>
        <li>
          <%= link_to("一覧", "/") %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to("新規投稿", "/new") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("新規登録", "/signup") %>
          </li>
          <li>
            <%= link_to("ログイン", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="main-content">
      <%= yield %>
    </div>

  </body>
</html>
